{% if site.theme_settings.footer_text %}
  <footer class="site-footer">
    <p class="text">{{ site.theme_settings.footer_text }}</p>
    <div class="footer-icons">
      <ul>
        {% include icons.html %}
      </ul>
    </div>

    <a class="github-button"
      href="https://github.com/rubynostrilhos/rubynostrilhos.github.io"
      data-size="large"
      data-show-count="true"
      aria-label="Star rubynostrilhos/rubynostrilhos.github.io on GitHub">
      Star
    </a>

  </footer>
{% endif %}
