.post-nav {
  @extend %padding-small;
  border-bottom: 1px solid $border-color;

  width: 100%;

  i {
    vertical-align: middle;
  }

  a {
    display: inline-block;
    padding: 0;
  }

  p {
    @extend .meta;
  }

  .post-nav-post, .post-nav-post {
    display: inline;
    width: 50%;
  }
}
