---
layout: default
---

<div class="page">
  <header class="header">
    <h3 id="{{ page.title | default: "" | cgi_escape }}">
      {{ page.title }}
    </h3>

    {% if page.subtitle %}
      <h5 class="subtitle">{{ page.subtitle }}</h5>
    {% endif %}
  </header>

  <article {% if page.feature-img %}class="feature-image"{% endif %}>
    <section class="post-content">{{ content }}</section>

    {% capture tag_list %}{{ page.tags | join: "|"}}{% endcapture %}
    {% include tags_list.html tags=tag_list %}

  </article>
</div>

{% include newsletter.html %}

{% include twitter.html %}
